<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      My Goals
    </ion-title>

  </ion-navbar>
</ion-header>
 
<ion-content>
  <div *ngIf="currentDay !== undefined">

    <ion-list *ngFor="let goal of currentDay.goals" (click)="incrementCompletion(goal)">
      <ion-item-sliding #slidingItem>
      <ion-item>
        <ion-card [class.completed-goal-card] = "goal.currentCompletion >= goal.maxCompletion">
          <ion-card-content class="card-title">{{goal.title}}</ion-card-content>
          <ion-card-content class="card-description">{{goal.description}}</ion-card-content>
          <ion-card-content class="card-description">{{goal.dateTime}}</ion-card-content>
            <div [class.not-started-goal] = "goal.currentCompletion === 0"
            [class.uncompleted-goal] = "goal.currentCompletion > 0 && goal.currentCompletion < goal.maxCompletion"
            [class.completed-goal] = "goal.currentCompletion >= goal.maxCompletion"
            >
              <p>Goal Progress: {{goal.currentCompletion}} / {{goal.maxCompletion}}</p>
            </div>
        </ion-card>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button large icon-only color="yellow" (click)="editGoal(goal)"><ion-icon name="build"></ion-icon></button>
        <button ion-button large icon-only color="danger" (click)="deleteGoal(goal)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab bottom right>
      <button class="button" ion-button large icon-only (click)="addGoal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom left>
      <button class="button calendar" ion-button large icon-only (click)="showCalendar()"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab>
</ion-content>