<ion-header>

  <ion-navbar>
    <ion-title>Summary of Goals On {{date}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-header>Goals For the Day</ion-card-header>
      <ion-list *ngFor="let goal of goals; let i = index">
        <ion-item>
          <ion-icon name="bookmark" item-start></ion-icon> {{goal.title}}
        </ion-item>
        <ion-item>
          <ion-icon name="book" item-start></ion-icon> {{goal.description}}
        </ion-item>
        <ion-item class="goal-completed">
            Goal Completed: 
          <ion-icon class="complete" *ngIf="goalComplete[i]" name="checkmark-circle"></ion-icon>
          <ion-icon class="not-complete" *ngIf="!goalComplete[i]" name="close"></ion-icon>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>