ion-card-header {
    text-align: center;
    font-size: 1em;
}

.day {
    width: 1.5em;
    border-radius: 20em;
    background-color: grey;
}
.all-complete {
    background-color: map-get($colors, secondary);
}
.some-complete {
    background-color: map-get($colors, primary);
}
.none-complete {
    background-color: map-get($colors, danger);
}
.current-day {
    width: 1.5em;
    height: 1.5em;
    border:0.25em solid map-get($colors, dark); 
}


.months {
    text-align: left;
}

.no-padding {
    padding: 0px;
    margin: 0px;
 }