ion-card-header {
    text-align: center;
    font-size: 1.5vw;
}

.day {
    border-radius: 100%;
    background-color: grey;    
    border:0.25vw solid map-get($colors, dark); 
}
.all-complete {
    background-color: map-get($colors, secondary);
}
.some-complete {
    background-color: map-get($colors, primary);
}
.none-complete {
    background-color: map-get($colors, danger);
}
.current-day {
    border-color: map-get($colors, dark); 
}


.months {
    padding-left: 2.5vw;
}

.no-padding {
    padding: 0px;
    margin: 0px;
 }